a(href="/users") Create User     
a(href="/transactions") Transactions
form(action= "/books/create" method="POST")
  label Title
  span &nbsp
  input(type="text" name="title")
  br
  label Description
  span &nbsp
  input(type="text" name="description")
  button Create
table
  caption List book
  tr
    th Title
    th Description
    th Action
  each book in books
    tr
      td= book.title
      td= book.description
      td
        a(href="/books/"+book.id+"/delete") Delete
        a(href="/books/"+book.id+"/update")  Update
  