extends ../layout/common.pug
block content
  form(action= "/users/"+user.id+"/update" method="POST")
    div.mb-3
      label.form-label Name
      input.form-control(type="text" name="name")
    button.btn.btn-primary Update