extends ../layout/common.pug
block content
  a.btn.btn-outline-primary(href="users/create") Create user
  table.table.table-bordered.table-striped
    caption.caption-top List of users
    tr
      th Name
      th Phone
      th Email
      th Action
    each user in users
      tr
        td= user.name
        td= user.phone
        td= user.email
        td
          a.btn.btn-outline-primary.ms-1(href="/users/"+user.id+"/delete") Delete
          a.btn.btn-outline-warning.ms-1(href="/users/"+user.id+"/update")  Update