extends ../layout/common.pug
block content
  form(action= "/users/create" method="POST")
    div.mb-3
      label.form-label Name
      span &nbsp
      input.form-control(type="text" name="name")
    div.mb-3
      label.form-label  Phone Number
      span &nbsp
      input.form-control(type="text" name="phone")
    div.mb-3
      label.form-label  Email
      span &nbsp
      input.form-control(type="text" name="email")
    div.mb-3
      label.form-label  Password
      span &nbsp
      input.form-control(type="password" name="password")
    button.btn.btn-outline-primary Create
  table.table.table-bordered.table-striped
    caption.caption-top List of users
    tr
      th Name
      th Phone
      th Email
      th Action
    each user in users
      tr
        td= user.name
        td= user.phone
        td= user.email
        td
          a.btn.btn-outline-primary.ms-1(href="/users/"+user.id+"/delete") Delete
          a.btn.btn-outline-warning.ms-1(href="/users/"+user.id+"/update")  Update